<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <p>Aproveite e cadastre-se</p>
    <form action="/home" method="get">
        <input type="text" name="nome" placeholder="Nome">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Cadastrar-se</button>
    </form>
</body>
</html>
